/* Style Sheet for easier wireframe assignment #1 */
body {
    background: #777574;
    text-align: center;
    font-size: 20px;
    padding: .2% 15% 10% 10%;
    
}
.container {
    
    font-family: sans-serif;
    width: 1300px;
    height: 950px;  
}

header {
    background: #e5e7e9;
    color: #777574;
    height: 4%;
    /* left: 50%; */
    padding: 4%;
    margin: 0 0 1% 0;


}
nav {
    background: #e5e7e9;
    color: #777574;
    height: 4%;
    padding: 4%;
    margin: 0 0 2% 0;
}

section {
    background: #e5e7e9;
    color: #777574;
    height: 30%;
    width: 50%;
    float: left;
    position: relative;
    padding: 4%;
    margin: 0 0 2% 0; 


}
article {
    height: 80%;
    width: 105%;
    padding: 3%;
    margin: 5% -5.5% 0 -5%;
    background: #777574;
    color: #e5e7e9;
    /* z-index: -1; */
}

h1 {
    height: 10%;
    width: 94%;
    font-display: strong;
    background: #e5e7e9;
    color: #777574;
    padding: 3%;
    margin: 5% 10% 0 0;
    /* z-index: 1; */


}
p {
    height: 10%;
    width: 94%;
    background: #e5e7e9;
    color: #777574;
    padding: 3%;
    margin: 2% 10% 0 0;
    /* z-index: 1; */

}
aside {
    background: #e5e7e9;
    color: #777574;
    height: 30%;
    width: 32%;
    float: right;
    padding: 4%;

}

footer {
    position: relative;
    clear:both;
    background: #e5e7e9;
    color: #777574;
    height: 4%;
    margin: -10% 0 10% 0;
}